{% extends  "eaubelix/eaubelix_base.html" %}
{% load auth_extras %}
{% block content_eaubelix %}

    <div class="w3-bar w3-xlarge bg_bleu_fonce_curatio w3-text-white">
        {% for closed_network in closed_networks %}
            <button id="{{ closed_network.id }}_button" class="w3-bar-item w3-button w3-hover-white tablink"
                    onclick="openTab(event, '{{ closed_network.id }}', 'tab', 'tablink', 'w3-white')"><span
                    class="w3-medium">{{ closed_network.name }}</span></button>
        {% endfor %}
    </div>

    {% for closed_network in closed_networks %}
        <div id="{{ closed_network.id }}" class="w3-card w3-white tab w3-padding-large" style="display:none">
            <button id="{{ closed_network.id }}_data_button"  class="w3-bar-item w3-button w3-round w3-hover-none innertablink"
                    onclick='openTab(event, "data_{{ closed_network.id }}", "innertab", "innertablink", "bg_bleu_fonce_curatio")'>
                <span class="w3-medium">Données</span></button>
            <button class="w3-bar-item w3-button w3-round w3-hover-none innertablink"
                    onclick='openTab(event, "charts_diagrams_{{ closed_network.id }}", "innertab", "innertablink", "bg_bleu_fonce_curatio")'>
                <span class="w3-medium">Chartes et Schémas</span></button>
            <!--- Charts and Diagrams -->
            <div id="charts_diagrams_{{ closed_network.id }}" class="innertab" style="display:none">
                <h2>Charte de contrôle</h2>
                <img src="#" alt="control_chart" style="width:auto;">
                <h2>Schéma d’écoulement</h2>
                <img src="#" alt="flow_diagram" style="width:auto;">
            </div>
            <!--- Data -->
            <div id="data_{{ closed_network.id }}" class="innertab w3-margin-top" style="display:none">
                <table class="datatable display w3-responsive nowrap" style="width:100%">
                    <thead>
                    <tr>
                        <th class="reorder" rowspan="3">Date</th>
                        <th rowspan="3">Opérateur</th>
                        <th>Limites</th>
                        <th {% if "inhibitor" not in closed_network.closed_network_data_shown %} class="hidden" {% endif %}>Inhibiteur</th>
                        <th {% if "cond" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>Cond</th>
                        <th {% if "ph" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>pH</th>
                        <th {% if "p" not in closed_network.closed_network_data_shown %} class="hidden" {% endif %}>P</th>
                        <th {% if "m" not in closed_network.closed_network_data_shown %} class="hidden" {% endif %}>M</th>
                        <th {% if "dt" not in closed_network.closed_network_data_shown %} class="hidden" {% endif %}>DT</th>
                        <th {% if "iron" not in closed_network.closed_network_data_shown %} class="hidden" {% endif %}>Fer</th>
                        <th {% if "copper" not in closed_network.closed_network_data_shown %} class="hidden" {% endif %}>Cuivre</th>
                        <th {% if "turb" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>Coul</th>
                        <th {% if "filter" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>Filtre</th>
                        <th {% if "quantity" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>Quantité</th>
                        <th {% if "appoint" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>Appoint</th>
                    </tr>
                    <tr>
                        <td>MIN</td>
                        <td {% if "inhibitor" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.inhibitor_min }}</td>
                        <td {% if "cond" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.cond_min }}</td>
                        <td {% if "ph" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.ph_min }}</td>
                        <td {% if "p" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.p_min }}</td>
                        <td {% if "m" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.m_min }}</td>
                        <td {% if "dt" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.dt_min }}</td>
                        <td {% if "iron" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.iron_min }}</td>
                        <td {% if "copper" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.copper_min }}</td>
                        <td {% if "turb" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.turb_min }}</td>
                        <td {% if "coul" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.coul_min }}</td>
                        <td {% if "filter" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{% if closed_network.min_max.filter_min %} ON {% else %} OFF {% endif %}</td>
                        <td {% if "quantity" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.quantity_min }}</td>
                        <td {% if "appoint" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.appoint_min }}</td>
                    </tr>
                    <tr>
                        <td>MAX</td>
                        <td {% if "inhibitor" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.inhibitor_max }}</td>
                        <td {% if "cond" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.cond_max }}</td>
                        <td {% if "ph" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.ph_max }}</td>
                        <td {% if "p" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.p_max }}</td>
                        <td {% if "m" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.m_max }}</td>
                        <td {% if "dt" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.dt_max }}</td>
                        <td {% if "iron" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.iron_max }}</td>
                        <td {% if "copper" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.copper_max }}</td>
                        <td {% if "turb" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.turb_max }}</td>
                        <td {% if "coul" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.coul_max }}</td>
                        <td {% if "filter" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{% if closed_network.min_max.filter_max %} ON {% else %} OFF {% endif %}</td>
                        <td {% if "quantity" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.quantity_max }}</td>
                        <td {% if "appoint" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network.min_max.appoint_max }}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for closed_network_data in closed_network.closed_network_data.all %}
                        <tr>
                            <td>{{ closed_network_data.date }}</td>
                            <td>{{ closed_network_data.operator.username }}</td>
                            <td></td>
                            <td {% if "inhibitor" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network_data.inhibitor }}</td>
                            <td {% if "cond" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network_data.cond }}</td>
                            <td {% if "ph" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network_data.ph }}</td>
                            <td {% if "p" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network_data.p }}</td>
                            <td {% if "m" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network_data.m }}</td>
                            <td {% if "dt" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network_data.dt }}</td>
                            <td {% if "iron" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network_data.iron }}</td>
                            <td {% if "copper" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network_data.copper }}</td>
                            <td {% if "turb" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network_data.turb }}</td>
                            <td {% if "coul" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network_data.coul }}</td>
                            <td {% if "filter" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{% if closed_network_data.filter %} ON {% else %} OFF {% endif %}</td>
                            <td {% if "quantity" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network_data.quantity }}</td>
                            <td {% if "appoint" not in closed_network.closed_network_data_shown %} class="hidden"{% endif %}>{{ closed_network_data.appoint }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

                <button class="w3-btn bg_bleu_fonce_curatio w3-text-white"
                        onclick="document.getElementById('data_add_{{ closed_network.id }}').style.display='block'"><span
                        class="w3-medium">Ajouter une entrée</span></button>
            </div>

            <div id="data_add_{{ closed_network.id }}" class="w3-modal" style="display:none">
                <div class="w3-modal-content">
                    <div class="w3-container w3-padding-32">
                        <span onclick="document.getElementById('data_add_{{ closed_network.id }}').style.display='none'"
                              class="w3-button w3-display-topright w3-text-large w3-red">&times;</span>
                        <form enctype="multipart/form-data" method="POST" action="{% url 'add_closed_network_data' %}">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.label == 'Closed network'%}
                                    <select name="closed_network" required id="id_closed_network" style="display: none">
                                        <option value="{{ closed_network.id }}" selected>{{ closed_network.name }}</option>
                                    </select>
                                {% elif field.label == 'Operator' %}
                                    <select name="operator" required id="id_closed_network" style="display: none">
                                        <option value="{{ user.id }}" selected>{{ user.username }}</option>
                                    </select>
                                {% elif field.name in closed_network.closed_network_data_shown %}
                                    {{ field.label }}
                                    {{ field }}
                                {% endif %}

                            {% endfor %}
                            <input class="w3-margin" type="submit" value="Ajouter"/>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    {% endfor %}

{% endblock content_eaubelix %}