{% extends  "core/base.html" %}
{% block content %}
{% load widget_tweaks %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-password-image" style="background-image: url(/media/home_page/Boiler_Transparent.png);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2">Nom d'utilisateur oublié?</h4>
                                        <p class="mb-4">Entrez simplement votre adresse e-mail ci-dessous et nous vous enverrons votre nom d'utilisateur.</p>
                                    </div>
                                    <form class="user" method="POST">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            {{ email_form.email|add_class:"form-control form-control-user"}}
                                        </div>
                                        <button class="btn btn-primary d-block btn-user w-100" type="submit">Récupérer le nom d'utilisateur</button>
                                    </form>
                                    <div class="text-center"><a class="small" href="{% url 'login_page' %}">Connexion</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}