{% extends  "core/base.html" %}
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- 404 Error Text -->
            <div class="text-center">
{#                <div class="error mx-auto" data-text="Abonnement">Abonnement</div>#}
                <p class="lead text-gray-800 mb-5">Le nombre maximal d'opérateur a été atteint.</p>
                <p class="text-gray-500 mb-0">Veuillez contacter votre superviseur afin d'augmenter le nombre d'opérateur maximal pour pouvoir vous enregistrer.</p>
            </div>

        </div>

{% endblock content %}