{% extends  "core/base.html" %}
{% block content %}

        <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-password-image" style="background-image: url(/media/home_page/Boiler_Transparent.png);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2">Mot de passe oublié?</h4>
                                        <p class="mb-4">Nous vous avons envoyé par e-mail des instructions pour réinitialiser votre mot de passe, si un compte existe avec l'e-mail que vous avez saisi. Vous devriez les recevoir sous peu.</p>
                                    </div>
                                    <div class="text-center"><a class="small" href="{% url 'login_page' %}">Connexion</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}