{% extends  "core/base.html" %}
{% block content %}
    <header class="w3-container w3-center" style="padding:128px 16px;">
        <div class="w3-quarter"><p></p></div>
        <form class="w3-container w3-half w3-center w3-xlarge center_vertically bg_gris_clair_curatio w3-round w3-padding"
              method="POST"
              action="">
            {% csrf_token %}
            <h2> Creer votre nouveau mot de passe</h2>
            <div class="w3-section">
                {% for field in password_reset_form.hidden_fields %}
                    {{ field }}
                {% endfor %}

                {% for field in password_reset_form.visible_fields %}
                    <div class="w3-margin">
                        <p><span class="w3-medium">{{ field.label }} :</span> {{ field }}</p>
                    </div>
                {% endfor %}
                <div class="w3-small w3-text-red">
                    <span class="">Doit contenir au moins 8 caractères.</span> <br>
                    <span class="">Ne peut pas être trop similaire à vos autres informations personnelles. </span> <br>
                    <span class="">Ne peut pas être un mot de passe couramment utilisé. </span> <br>
                    <span class="">Ne peut pas être entièrement numérique. </span> <br>
                </div>
                <div class="w3-clear"></div>
                {% if error %}
                    <p class="w3-text-red w3-medium"> ERREUR : Votre ancien mot de passe est incorrect ou le nouveau mot
                        de passe n'est pas assez sécurisé </p>
                {% endif %}
                <button class="w3-button w3-block w3-section w3-hover-white w3-padding w3-round w3-white"
                        type="submit">Sauvegarder
                </button>
            </div>
        </form>
        <div class="w3-quarter"><p></p></div>

    </header>
{% endblock content %}