.center_vertically {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg_bleu_fonce_curatio{
  background-color: rgb(38, 80, 158);;
}
.bg_bleu_pale_curatio{
  background-color: rgb(65, 127, 193);;
}
.bg_bleu_flash_curatio{
  background-color: rgb(83, 195, 235);;
}
.bg_gris_clair_curatio{
  background-color: rgb(239, 238, 238);;
}
.bleu_fonce_curatio{
  color: rgb(38, 80, 158);;
}
.bleu_pale_curatio{
  color: rgb(65, 127, 193);;
}
.bleu_flash_curatio{
  color: rgb(83, 195, 235);;
}
.gris_clair_curatio{
  color: rgb(239, 238, 238);;
}