{% extends  "core/base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            {% if client_training_course is not None %}

                <div class="col-xl">
                    <div class="card m-2" style="">
                        <div class="card-body text-center shadow rounded rounded-3">

                            <img class="rounded-circle mb-3 mt-4"
                                 src="/media/formation_image/concept_generaux.jpg"
                                 width="160" height="160">

                            <h4 class="card-title"
                                style="text-align: center;padding: 10px;padding-bottom: 0px;padding-top: -11px;">{{ client_training_course.name }}</h4>
                            <p class="card-text" style="padding-top: 0px;padding-bottom: 0px;">{{ client_training_course.title }} <br>
                                Temps requis : {{ client_training_course.hours_needed }}h{{ client_training_course.minutes_needed }}
                            </p>

                            {% if next_video is None %}
                                <p> Vous avez fini cette formations, vous pouvez revoir les videos dans la librairies de video</p>
                            {% elif next_video.video_order == 1 %}
                                <a href="{% url 'training_course_video_page' training_course_pk=client_training_course.pk training_video_pk=next_video.pk %}" class="btn btn-primary" type=""
                                    style="background: var(--bs-teal);font-size: 16px;font-weight: bold;border-color: var(--bs-teal);">
                                    Débuter
                                </a>

                            {% else %}
                                <a href="{% url 'training_course_video_page' training_course_pk=client_training_course.pk training_video_pk=next_video.pk %}" class="btn btn-primary" type=""
                                    style="background: var(--bs-teal);font-size: 16px;font-weight: bold;border-color: var(--bs-teal);">
                                    Continuer
                                </a>
                            {% endif %}

                            <h4 class="small fw-bold" style="text-align: left;">Avancement<span
                                    class="float-end">{{ progression }}%</span></h4>

                            <div class="progress progress-sm mb-3">
                                <div class="progress-bar bg-info" aria-valuenow="{{ progression }}" aria-valuemin="0" aria-valuemax="100"
                                     style="width: {{ progression }}%;"><span class="visually-hidden">{{ progression }}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}


            <div class="col-xl">
                <div class="card m-2" style="">
                    <div class="card-body text-center shadow rounded rounded-3">

                        <img class="rounded-circle mb-3 mt-4"
                             src="/media/formation_image/concept_generaux.jpg"
                             width="160" height="160">

                        <h4 class="card-title"
                            style="text-align: center;padding: 10px;padding-bottom: 0px;padding-top: -11px;">Module de Formation Pratique</h4>
                        <p class="card-text" style="padding-top: 0px;padding-bottom: 0px;">  <br>
                            Ce module contient des videos
                        </p>

                        <a href="{% url 'practical_formation' %}" class="btn btn-primary" type=""
                            style="background: var(--bs-teal);font-size: 16px;font-weight: bold;border-color: var(--bs-teal);">
                            Voir
                        </a>

                    </div>
                </div>
            </div>

            <div class="col-xl">
                <div class="card m-2" style="">
                    <div class="card-body text-center shadow rounded rounded-3">

                        <img class="rounded-circle mb-3 mt-4"
                             src="/media/formation_image/concept_generaux.jpg"
                             width="160" height="160">

                        <h4 class="card-title"
                            style="text-align: center;padding: 10px;padding-bottom: 0px;padding-top: -11px;">Toute les Formations</h4>
                        <p class="card-text" style="padding-top: 0px;padding-bottom: 0px;">  <br>
                            Ce module contient des videos
                        </p>

                        <a href="{% url 'practical_formation' %}" class="btn btn-primary" type=""
                            style="background: var(--bs-teal);font-size: 16px;font-weight: bold;border-color: var(--bs-teal);">
                            Voir
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}